*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:#c9ecfb78 ;
}
#header{
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
   color: #5A6CAB;

}
body{
    padding-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
